/* for general use */
body{
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 65%);
	font-family:  "Lucida Console", "Courier New", monospace;
	margin: 0;
	padding: 0;
}

footer{
	text-align: right;
	padding: 3px 10px;
	color: hsl(0, 0%, 50%);
}

img.right {
	float: right;
	margin-left: 25px;
	margin-right: 10px;
}

img.left {
	float: left;
	margin-left: 10px;
	margin-right: 25px;
}

img.center{
	margin: auto;
	display: block;
	margin-bottom: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


div.youtube {
	background-color: #000;
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #333;
	border-radius: 5px;
	margin-bottom: 30px;
}

div.youtube iframe {
	display: block;
	width: 100%;
	height: 364px;
}

h1{
	color: hsl(0, 0%, 90%);
	margin-bottom: 7px;
	margin-top: 0px;
	padding: 0;
}

h2 {
	color: hsl(0, 0%, 85%);
	font-size: 15pt;
	margin-bottom: 10px;
}

p {
	margin-top:0;
}

hr{
	color: hsl(0, 0%, 20%)
}

a:active, a:focus {
  outline: 0;
  -moz-outline-style: none
}

/* navbar */

a:link, a:visited{
	color:  hsl(0, 0%, 60%);
	text-decoration: none;
}

a:hover:not(.active){
	color: hsl(0, 0%, 90%);
}

.navbar ul{
	margin: 20px 0px;
    padding: 0;
    list-style-type: none;
}
.navbar li a, .siteheader {
    display: block;
    font-size: 17px;
}

.navbar li a
{
	display: inline-block;
	margin: 0px 10px;
}

.navbar li
{
	margin: 20px 10px;
}

.navbar li:hover:not(.active)
{
	color: hsl(0, 0%, 90%);
}

.navbar li.active
{
	color:#99ff99;
	text-decoration: underline;
}

div.navbar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    overflow: auto;
    min-height: 100%;
    /*border:solid 3px #66ffff;*/
/*    border-right: solid 1px  hsl(0, 0%, 80%);*/
    background-color:  hsl(0, 0%, 20%);
}

div.maincontainer{
	margin: 0px;
	margin-left: 150px;
	padding: 10px 10px;
	/*border:solid 1px #97743a;*/
	/*border-bottom: solid 3px #66ffff;*/
	/*background-color: #1a1a00;*/
}

.siteheader{
	/*border:1px solid;*/
	/*border-bottom: 3px solid;*/
	color: hsl(0, 0%, 95%);
	margin: 10px;
	font-size: 30px;
}

.socialmedia{
	position: absolute;
	bottom: 0px;
	padding: 0;
	display: inline;
	margin-left: 10px;
}

.socialmedia i{
	font-size: 40px;
	padding-bottom: 2px;
}



/* portfolio */
div.portfolio_item{
	padding-left: 5px;
	height: 310px;
	width: 600px;
	margin-left: 5%;
	margin-top: 10px;
	border:solid 1px;
	display: inline-block;
	overflow: auto;
	color: hsl(0, 0%, 60%);
	opacity: 0.8;
}

div.portfolio_item h2
{
	color:hsl(0, 0%, 90%);
}

.portfolio_item:hover {
	opacity: 1.0;
	color: hsl(0, 0%, 80%);
}

div.portfolio_item img {
	float: right;
	margin-top: 32px;
	margin-right: 5px;
	margin-left: 5px;
	width: 40%;
	border: 1px solid hsl(0, 0%, 60%);
	border-radius: 2px;
}

div.back_button
{
	width: 30px;
	padding: 20px;
	font-size: 30px;
	border: 1px solid;
	margin-bottom: 20px;
	display: inline-block;
}

/* resume */

img.img_resume {
	margin-top: 6px;
	margin-right: 30px;
	width: 200px;
	opacity: 0.8;
}

img.img_resume:hover{
	opacity: 1;
}